// angular material
@use "@angular/material" as mat;
@include mat.core();

$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$orange-palette,
    ),
  )
);

$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$orange-palette,
    ),
  )
);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dark-theme {
  @include mat.all-component-colors($dark-theme);
  @include mat.core-theme($dark-theme);
  @include mat.button-theme($dark-theme);
}
.light-theme {
  @include mat.all-component-colors($light-theme);
  @include mat.core-theme($light-theme);
  @include mat.button-theme($light-theme);
}
