<div class="sidenav-header">
  <mat-nav-list class="border-b-[1px] border-light-color">
    <!-- <a
      [routerLink]="['/home']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      mat-list-item
      ><mat-icon fontIcon="home" matListItemIcon></mat-icon>Home</a
    > -->

    <app-sidenav-menu-item
      [route]="'/home'"
      [icon]="'home'"
      [title]="'Home'"
    ></app-sidenav-menu-item>

    <app-sidenav-menu-item
      [route]="'/popular'"
      [icon]="'people'"
      [title]="'Popular'"
    ></app-sidenav-menu-item>

    <app-sidenav-menu-item
      [route]="'/explore'"
      [icon]="'explore'"
      [title]="'Explore'"
    ></app-sidenav-menu-item>

    <app-sidenav-menu-item
      [route]="'/all'"
      [icon]="'all_out'"
      [title]="'All'"
    ></app-sidenav-menu-item>
  </mat-nav-list>
  <mat-nav-list class="border-b-[1px] border-light-color">
    <div class="ml-4 mt-4">
      <p class="hover:bg-transparent" mat-list-item>Recent</p>
    </div>
  </mat-nav-list>
  <mat-nav-list class="border-b-[1px] border-light-color">
    <div class="ml-4 mt-4">
      <p class="hover:bg-transparent" mat-list-item>Communities</p>
    </div>

    @for (subreddit of subreddits; track subreddit.name) {
      <div class="">
        <app-sidenav-community-item
          [link]="subreddit.url"
          [name]="subreddit.name"
          [imgSrc]="subreddit.icon"
        ></app-sidenav-community-item>
      </div>
    }
  </mat-nav-list>
</div>
