<div class="mt-8 flex min-h-[calc(100dvh-81px-48px)] flex-col">
    <h1 class="text-center text-4xl">{{ monthasReadableText }}</h1>

    <div class="mt-16 flex-1 lg:mt-24">
        <div>
            <h1 class="text-center text-3xl">Summary</h1>
            <div class="">
                <canvas
                    class="!m-auto !mt-6 !block !w-[100%] md:!h-[50%] md:!w-[50%] lg:!h-[35%] lg:!w-[35%]"
                    id="budgetSummary"
                ></canvas>
            </div>
        </div>

        <div class="mt-16 lg:mt-24">
            <h1 class="ml-4 text-center text-3xl">Transactions</h1>
        </div>
    </div>

    <hlm-dialog>
        <div class="mb-4 mr-2 flex flex-row justify-end">
            <button
                class="scale-[150%] border-black dark:border-white"
                hlmBtn
                brnDialogTrigger
                size="icon"
                variant="outline"
            >
                <hlm-icon size="xl" name="lucidePlus" />
            </button>
        </div>

        <hlm-dialog-content *brnDialogContent="let ctx">
            <hlm-dialog-header>
                <app-add-transaction
                    [expenses]="expenses"
                ></app-add-transaction>
            </hlm-dialog-header>
        </hlm-dialog-content>
    </hlm-dialog>
</div>
