<p class="mt-8 text-center text-3xl">Expenses</p>

<form class="mt-8" [formGroup]="form">
    <div formArrayName="expenses">
        @for (expense of expenseTypes; track $index) {
            <div class="mb-8 flex flex-row">
                <div class="mr-2 mt-10">
                    <hlm-icon size="sm" name="lucideDollarSign" />
                </div>

                <div class="">
                    <hlm-form-field class="">
                        <label class="block" hlmLabel>{{
                            expense.label
                        }}</label>
                        <input
                            [formControlName]="$index"
                            class="w-40"
                            hlmInput
                            type="number"
                            step="0.01"
                        />

                        @if (expenses.controls[$index].errors?.['min']) {
                            <hlm-error>Expense cannot be less than 0</hlm-error>
                        }
                        @if (expenses.controls[$index].errors?.['max']) {
                            <hlm-error
                                >Expense exceeded maximum value</hlm-error
                            >
                        }
                    </hlm-form-field>
                </div>
            </div>
        }
    </div>

    <!-- <div formArrayName="expenses">
        @for (expense of expenses.controls; track $index) {
            <div class="mt-4 flex flex-row justify-center">
                <div>
                    <label class="mb-2 block" hlmLabel>Expense Type</label>
                    <brn-select class="" formControlName="type">
                        <hlm-select-trigger class="w-40">
                            <hlm-select-value />
                        </hlm-select-trigger>
                        <hlm-select-content>
                            @for (type of expenseTypes; track type.value) {
                                <hlm-option [value]="type.value">{{
                                    type.label
                                }}</hlm-option>
                            }
                        </hlm-select-content>
                    </brn-select>
                </div>

                <div>
                    <hlm-form-field class="">
                        <label class="block" hlmLabel>Amount</label>
                        <input
                            formControlName="amount"
                            class="w-24"
                            hlmInput
                            type="number"
                        />
                    </hlm-form-field>
                </div>
            </div>
        }
    </div> -->
</form>

<div class="mt-16 flex justify-between">
    <button (click)="updateSectionFn('previous')" hlmBtn>Back</button>
    <button (click)="updateSectionFn('next')" [disabled]="!form.valid" hlmBtn>
        Continue
    </button>
</div>
