<p class="mt-8 text-center text-4xl">Expenses</p>

<p class="mt-12">
    Enter your expenses for a typical month below. Each expense must have a
    category and an amount.
</p>

<form class="mt-16" [formGroup]="form">
    <ng-container formArrayName="expenses">
        @for (expense of expenses.controls; track $index) {
            <div class="mb-8 flex flex-row justify-around">
                <hlm-form-field class="">
                    <!-- <label class="block" hlmLabel>{{ sdfsd }}</label> -->
                    <input
                        formControlName="name"
                        class="w-52"
                        hlmInput
                        type="text"
                        placeholder="Name"
                    />

                    @if (expense?.errors?.['pattern']) {
                        <hlm-error>Invalid characters</hlm-error>
                    }
                    @if (expense?.errors?.['maxlength']) {
                        <hlm-error
                            >Name cannot be greater than
                            {{ maxCharacterLimit }} characters
                        </hlm-error>
                    }
                </hlm-form-field>
                <hlm-form-field class="">
                    <input
                        formControlName="amount"
                        class="w-40"
                        hlmInput
                        type="number"
                        step="0.01"
                        min="0"
                        placeholder="$"
                    />

                    @if (expense?.errors?.['pattern']) {
                        <hlm-error>Not a valid number</hlm-error>
                    }
                    @if (expense?.errors?.['min']) {
                        <hlm-error>Expense cannot be less than 0</hlm-error>
                    }
                    @if (expense?.errors?.['max']) {
                        <hlm-error>Expense exceeded maximum value</hlm-error>
                    }
                </hlm-form-field>

                <div>
                    <button (click)="deleteExpense($index)" class="mr-4">
                        <hlm-icon
                            class="delete"
                            size="lg"
                            name="lucideTrash2"
                        />
                    </button>
                    <button (click)="addExpense()">
                        <hlm-icon
                            class="add"
                            size="lg"
                            name="lucidePlusCircle"
                        />
                    </button>
                </div>
            </div>
        }
    </ng-container>
</form>

<div class="mt-16 flex justify-between">
    <button (click)="updateSectionFn('previous')" hlmBtn>Back</button>
    <button (click)="updateSectionFn('next')" [disabled]="!form.valid" hlmBtn>
        Continue
    </button>
</div>
