<mat-icon [matMenuTriggerFor]="menu" class="mt-2 scale-150 hover:cursor-pointer"
  >account_circle</mat-icon
>

<mat-menu class="w-[13rem]" #menu="matMenu">
  <button mat-menu-item>
    <mat-icon matListItemIcon>person</mat-icon>
    View profile <br />
    <span class="text-xs text-light-color">u/{{ username }}</span>
  </button>

  <button mat-menu-item (click)="$event.stopPropagation()">
    <mat-icon matListItemIcon>bedtime</mat-icon>

    <span>
      Dark Mode
      <mat-slide-toggle
        class="-mt-2 ml-2 scale-75"
        [checked]="this.theme() === 'dark-theme'"
        (click)="toggleTheme($event)"
      ></mat-slide-toggle
    ></span>
  </button>

  <button mat-menu-item (click)="authService.logout()">
    <mat-icon matListItemIcon>logout</mat-icon>
    Logout
  </button>
</mat-menu>
