@if (isUserLoggedIn()) {
  <button [brnMenuTriggerFor]="menu">
    <hlm-icon
      size="xl"
      name="lucideUserCircle"
      class="scale-90 hover:cursor-pointer"
    />
  </button>
} @else {
  <button [brnMenuTriggerFor]="menu">
    <hlm-icon size="lg" name="lucideMenu" class="mt-2 hover:cursor-pointer" />
  </button>
}

<ng-template #menu>
  <hlm-menu class="w-[13rem] dark:bg-[#181C1F]">
    <hlm-menu-group>
      @if (isUserLoggedIn()) {
        <button
          (click)="(true)"
          hlmMenuItem
          class="pb-5 pt-2 hover:cursor-pointer"
        >
          <hlm-icon
            class="cale-[170%]"
            size="lg"
            name="lucideUserCircle"
            hlmMenuIcon
          />
          <span class="ml-0 text-base">{{ email }}</span>
        </button>
        <hlm-menu-separator class="mb-3" />
      }

      <button
        (click)="themeService.toggleTheme()"
        hlmMenuItem
        class="mt-2 hover:cursor-pointer"
      >
        <hlm-icon name="lucideMoon" hlmMenuIcon />
        <span class="text-base"
          >Dark Mode:
          {{ themeService.getTheme()() === 'dark' ? 'ON' : 'OFF' }}</span
        >
      </button>

      <button
        (click)="signInOrSignOut()"
        hlmMenuItem
        class="mt-2 hover:cursor-pointer"
      >
        <hlm-icon
          name="{{ isUserLoggedIn() ? 'lucideLogOut' : 'lucideLogIn' }}"
          hlmMenuIcon
        />
        <span class="text-base">{{
          isUserLoggedIn() ? 'Sign Out' : 'Sign In'
        }}</span>
      </button>
    </hlm-menu-group>
  </hlm-menu>
</ng-template>
