<div class="text-left">
    <h2 class="mt-8 text-center text-2xl">New Transaction</h2>

    <form class="mt-12" [formGroup]="form">
        <hlm-form-field class="mt-8">
            <div class="mb-2">
                <label for="type" class="" hlmLabel>Type</label>
            </div>
            <brn-select id="type" class="w-full" formControlName="type">
                <hlm-select-trigger class="w-full">
                    <hlm-select-value />
                </hlm-select-trigger>
                <hlm-select-content class="w-full">
                    <hlm-option value="expense">Expense</hlm-option>
                    <hlm-option value="income">Income</hlm-option>
                </hlm-select-content>
            </brn-select>
        </hlm-form-field>

        <hlm-form-field class="mt-8">
            <div class="mb-2">
                <label for="category" class="" hlmLabel>Category</label>
            </div>
            <brn-select
                formControlName="category"
                id="category"
                placeholder=""
                class="w-full"
                (focusout)="onFormFieldBlur('category')"
            >
                <hlm-select-trigger class="w-full">
                    <hlm-select-value />
                </hlm-select-trigger>
                <hlm-select-content class="w-full">
                    @for (expense of expenses(); track expense.name) {
                        <hlm-option [value]="expense.name">{{
                            toTitleCase(expense.name)
                        }}</hlm-option>
                    }
                </hlm-select-content>
            </brn-select>

            <div class="w-full">
                @let category = this.form.controls['category'];
                @if (category.errors?.['zodError'] && category.touched) {
                    <hlm-error>{{
                        this.form.get('type')?.errors?.['zodError']
                    }}</hlm-error>
                }
            </div>
        </hlm-form-field>

        <hlm-form-field class="mt-8">
            <div class="mb-2">
                <label for="amount" class="w-full" hlmLabel>Amount</label>
            </div>
            <input
                id="amount"
                formControlName="amount"
                class="w-full"
                hlmInput
                type="number"
                step="0.01"
                (focusout)="onFormFieldBlur('amount')"
            />

            <div class="w-full">
                @let amount = this.form.controls['amount'];
                @if (amount?.errors?.['zodError'] && amount.touched) {
                    <hlm-error>{{
                        this.form.get('amount')?.errors?.['zodError']
                    }}</hlm-error>
                }
            </div>
        </hlm-form-field>

        <div class="flex flex-row justify-center">
            <button
                (click)="onSubmit()"
                [disabled]="form.invalid || !form.dirty"
                class="mt-14 w-full"
                hlmBtn
            >
                @if (submissionStatus === 'loading') {
                    <hlm-spinner />
                } @else {
                    Submit
                }
            </button>
        </div>
    </form>

    @if (submissionStatus === 'submitted') {
        <div hlmAlert class="mt-6 border-green-600 bg-green-600 p-1">
            <p hlmAlertDesc class="">Transaction Submitted!</p>
        </div>
    }

    @if (submissionStatus === 'submittedWithError') {
        <div hlmAlert class="mt-6 border-red-600 p-1 px-2">
            <p hlmAlertDesc class="">Error: {{ submissionError }}</p>
        </div>
    }
</div>
