<div class="px-4 py-8">
    <h1 class="text-2xl">New Transaction</h1>

    <form class="mt-12" [formGroup]="form">
        <hlm-form-field class="mt-4 flex items-center gap-4">
            <label for="type" class="mr-4 mt-2 w-24 text-left" hlmLabel
                >Type</label
            >
            <brn-select id="type" class="w-full flex-1" formControlName="type">
                <hlm-select-trigger class="w-full flex-1">
                    <hlm-select-value />
                </hlm-select-trigger>
                <hlm-select-content class="w-full flex-1">
                    <hlm-option value="expense">Expense</hlm-option>
                    <hlm-option value="income">Income</hlm-option>
                </hlm-select-content>
            </brn-select>
        </hlm-form-field>

        <hlm-form-field class="mt-8 flex items-center gap-4">
            <label for="category" class="mr-4 mt-2 w-24 text-left" hlmLabel
                >Category</label
            >
            <brn-select id="category" placeholder="" class="w-full flex-1">
                <hlm-select-trigger class="w-full flex-1">
                    <hlm-select-value />
                </hlm-select-trigger>
                <hlm-select-content class="w-full flex-1">
                    @for (expense of expenses(); track expense.name) {
                        <hlm-option [value]="expense.name">{{
                            toTitleCase(expense.name)
                        }}</hlm-option>
                    }
                </hlm-select-content>
            </brn-select>
        </hlm-form-field>

        <hlm-form-field class="mt-8 flex items-center gap-4">
            <label for="amount" class="mr-4 mt-2 w-24 text-left" hlmLabel
                >Amount</label
            >
            <input
                class="flex-1"
                id="amount"
                formControlName="amount"
                class="lg:w-1/4"
                hlmInput
                type="number"
                step="0.01"
            />
        </hlm-form-field>

        <button class="mt-14" hlmBtn>Submit</button>
    </form>
</div>
