@import "../../../../styles.scss";

.header-logo {
  width: 35px;
  height: 35px;
}

.flexExpand {
  flex: 1 1 auto;
}

.header {
  border-bottom: 1px solid $light-color;
}

.fix {
  font-size: medium;
  padding: 0 1rem;
}
