@import '../../../../styles.scss';

.flexExpand {
  flex: 1 1 auto;
}

.header {
  // border-bottom: 1px solid $light-color;
  // box-shadow: 0 4px 6px 3px $light-color; //todo: fix
}

.fix {
  font-size: medium;
  padding: 0 1rem;
}
