<mat-toolbar>
  <img class="header-logo" [src]="logo" />
  <span class="flexExpand"></span>
  <button class="mr-6 scale-90" mat-flat-button (click)="toggleLoginLogout()">
    {{ isUserLoggedIn() ? 'Sign Out' : 'Sign In' }}
  </button>
  <div class="-mr-2 mt-2">
    <mat-icon>{{
      themeService.getTheme() === 'dark-theme' ? 'bedtime' : 'brightness_5'
    }}</mat-icon>
  </div>
  <div class="scale-75">
    <mat-slide-toggle
      class="ml-2"
      checked
      (click)="toggleTheme()"
    ></mat-slide-toggle>
  </div>
  <div class="ml-4 mr-2">
    <app-header-profile-dropdown></app-header-profile-dropdown>
  </div>
</mat-toolbar>
