<section class="mt-16 w-[50rem] p-6" hlmCard>
    <div hlmCardContent>
        @if (currentSection === 0) {
            <div class="">
                <h2 class="${hlmH2} mt-6 text-center text-4xl" hlmCardTitle>
                    Welcome to Centsibly!
                </h2>
                <p class="mt-8 text-center text-xl">
                    Let's set up your budget in a few easy steps
                </p>
            </div>
        }

        @if (currentSection === 1) {
            <app-setup-income
                [nextButtonClicked]="triggerNextForIncome"
                (updateSection)="updateSection($event)"
                (sendData)="recordIncome($event)"
            ></app-setup-income>
        }
        @if (currentSection === 2) {
            <app-setup-expenses></app-setup-expenses>
        }
    </div>
    <!-- 
    <div
        hlmCardFooter
        class="mt-8 flex"
        [ngClass]="{
            'justify-center': currentSection === 0,
            'justify-between': currentSection !== 0,
        }"
    >
        @if (currentSection === 0) {
            <button (click)="nextScreen()" hlmBtn>Get Started</button>
        }
        @if (currentSection > 0) {
            <button (click)="previousScreen()" hlmBtn>Back</button>
            <button
                (click)="nextScreen()"
                hlmBtn
            >
                Continue
            </button>
        }
    </div> -->
</section>
