<div class="m-auto flex min-h-[calc(100dvh-81px-48px)] border-0">
    <div class="m-auto lg:w-[70%]">
        <section class="flex flex-col justify-center p-8">
            <app-setup-income
                (outputtedFormData)="onIncomeFormDataUpdated($event)"
                (validityChanged)="onIncomeFormValidityChanged($event)"
            ></app-setup-income>
        </section>
        <section
            class="flex w-full max-w-[calc(100vw-20px)] flex-col justify-center px-8 py-14"
        >
            <h1 class="text-xl">Monthly Expenses Categories</h1>
            <app-setup-expenses
                (outputtedFormData)="onExpenseFormDataUpdated($event)"
                (validityChanged)="onExpensesFormValidityChanged($event)"
            ></app-setup-expenses>
        </section>
    </div>
</div>
