<div class="border-0">
    <form class="mt-16" [formGroup]="form">
        <div class="errors mb-8">
            @if (
                expensesFormControlArray.errors?.['expensesGreaterThanIncome']
            ) {
                <div hlmAlert variant="destructive">
                    <hlm-icon
                        class="mt-1"
                        hlmAlertIcon
                        name="lucideAlertTriangle"
                    />
                    <!-- <h4 hlmAlertTitle>Unexpected Error</h4> -->
                    <p hlmAlertDesc>
                        Total expenses cannot be greater than your income
                    </p>
                </div>
            }
        </div>

        <ng-container formArrayName="expenses">
            @for (expense of expensesFormControlArray.controls; track $index) {
                <section class="mb-8 p-6" hlmCard>
                    <div
                        cardContent
                        class="flex flex-col justify-between"
                        [formGroupName]="$index"
                    >
                        <hlm-form-field class="">
                            <label class="block" hlmLabel
                                >Name
                                <input
                                    formControlName="name"
                                    class="w-full"
                                    hlmInput
                                    type="text"
                                    placeholder="Name"
                                />
                            </label>

                            @let nameFormControl = expense?.get('name');
                            @if (nameFormControl?.errors?.['pattern']) {
                                <hlm-error>Invalid characters</hlm-error>
                            }
                            @if (nameFormControl?.errors?.['maxlength']) {
                                <hlm-error
                                    >Name cannot be greater than
                                    {{ maxCharacterLimit }} characters
                                </hlm-error>
                            }
                            @if (nameFormControl?.errors?.['duplicateName']) {
                                <hlm-error>Duplicate name</hlm-error>
                            }
                        </hlm-form-field>
                        <hlm-form-field class="mt-4">
                            <label class="block" hlmLabel
                                >Amount
                                <input
                                    formControlName="amount"
                                    class="w-full"
                                    hlmInput
                                    type="number"
                                    step="1"
                                    placeholder="$"
                                />
                            </label>

                            @let amountFormControl = expense?.get('amount');
                            @if (amountFormControl?.errors?.['pattern']) {
                                <hlm-error>Not a valid number</hlm-error>
                            } @else if (amountFormControl?.errors?.['min']) {
                                <hlm-error
                                    >Expense cannot be less than 0</hlm-error
                                >
                            } @else if (amountFormControl?.errors?.['max']) {
                                <hlm-error
                                    >Expense exceeded maximum value</hlm-error
                                >
                            }
                        </hlm-form-field>

                        <div class="mt-8 flex justify-center gap-6">
                            @if ($index !== 0) {
                                <button
                                    type="button"
                                    title="Delete expense"
                                    (click)="deleteExpense($index)"
                                >
                                    <hlm-icon
                                        class="delete"
                                        size="lg"
                                        name="lucideTrash2"
                                    />
                                </button>
                            }
                        </div>
                    </div>
                </section>
            }

            <div class="flex flex-row justify-center">
                <button
                    type="button"
                    title="Add expense"
                    (click)="addExpense()"
                >
                    <hlm-icon
                        [ngClass]="{
                            add: theme() === 'light',
                            'add-dark': theme() === 'dark',
                        }"
                        size="lg"
                        name="lucidePlusCircle"
                    />
                </button>
            </div>
        </ng-container>
    </form>
</div>
