<header>
    <nav class="p-4">
        <div class="flex flex-row">
            <img
                [routerLink]="''"
                class="w-[3.5rem] cursor-pointer"
                [src]="logoPath"
            />
            <div class="flexExpand"></div>

            @if (!isUserLoggedIn() && router.url !== '/auth') {
                <div class="mr-8">
                    <button
                        hlmBtn
                        variant="outline"
                        class="mt-1 border-black dark:border-white"
                        [routerLink]="'/auth'"
                    >
                        Sign In
                    </button>
                </div>
            }

            <div class="mr-8">
                <button
                    variant="ghost"
                    hlmBtn
                    class="mt-1"
                    (click)="themeService.toggleTheme()"
                >
                    <hlm-icon
                        size="sm"
                        name="{{
                            theme() === 'dark' ? 'lucideMoon' : 'lucideSun'
                        }}"
                        class="scale-150"
                    />
                </button>
            </div>
            @if (isUserLoggedIn() && isUserVerified) {
                <app-header-profile-dropdown></app-header-profile-dropdown>
            }
        </div>
    </nav>
</header>
