<div class="m-auto flex border-0">
    <div class="m-auto w-[calc(100dvw-6rem)] lg:w-[calc(100dvw)]">
        <h1 class="text-center text-4xl">Budget</h1>

        <form class="mt-14 w-full" [formGroup]="form">
            <div class="flex w-full flex-row justify-center">
                <hlm-form-field class="w-full">
                    <label class="mb-1 block w-full" hlmLabel>Currency</label>
                    <brn-select
                        class="inline-block w-full"
                        formControlName="currency"
                    >
                        <hlm-select-trigger class="w-full">
                            <hlm-select-value />
                        </hlm-select-trigger>
                        <hlm-select-content class="w-full">
                            @for (
                                currency of CURRENCIES;
                                track currency.value
                            ) {
                                <hlm-option [value]="currency.value">{{
                                    currency.label
                                }}</hlm-option>
                            }
                        </hlm-select-content>
                    </brn-select>
                    @if (currencyFormControl?.errors?.['required']) {
                        <hlm-error>{{ REQUIRED_ERROR_MESSAGE }}</hlm-error>
                    }
                </hlm-form-field>
            </div>

            <div class="mt-16 flex w-full flex-row justify-center">
                <hlm-form-field class="w-full">
                    <div class="flex w-full flex-row">
                        <label class="block" hlmLabel>Monthly Budget</label>
                        <brn-popover class="ml-3 mt-1">
                            <button
                                brnPopoverTrigger
                                variant="outline"
                                size="icon"
                            >
                                <hlm-icon size="sm" name="lucideInfo" />
                            </button>
                            <div hlmPopoverContent *brnPopoverContent="let ctx">
                                This is your total monthly income
                            </div>
                        </brn-popover>
                    </div>
                    <input
                        formControlName="income"
                        class="w-full"
                        hlmInput
                        type="number"
                        step="1"
                        placeholder="$"
                    />
                    @if (incomeFormControl?.errors?.['required']) {
                        <hlm-error>Invalid input</hlm-error>
                    }
                    @if (incomeFormControl?.errors?.['max']) {
                        <hlm-error>Budget exceeded maximum value</hlm-error>
                    }
                    @if (incomeFormControl?.errors?.['min']) {
                        <hlm-error>Budget cannot be less than 1</hlm-error>
                    }
                </hlm-form-field>
            </div>
        </form>
    </div>
</div>
